{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    // "prettier",
    "@typescript-eslint"
  ],
  "extends": [
    // "eslint:recommended",
    // "airbnb-base",
    // "plugin:@typescript-eslint/eslint-recommended",
    // "plugin:@typescript-eslint/recommended",
    // "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module",
    "useJSXTextNode": true,
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "rules": {
    // "space-before-function-paren": [
    //   "error",
    //   {
    //     "anonymous": "always",
    //     "named": "never",
    //     "asyncArrow": "always"
    //   }
    // ],
    "no-console": 0,
    "@typescript-eslint/ban-ts-comment": "off"
    // "prettier/prettier": [
    //   "error",
    //   {
    //     "space-after-function-name": false,
    //     "htmlWhitespaceSensitivity": "ignore",
    //     "semi": false,
    //     "singleQuote": true
    //   }
    // ]
  }
}