.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: scroll;
  /* border: 5px solid red; */
}

/* spring */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background: #f0f0f0;
}


#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* album wrapper front AND back */

.fill-item {
  /* border: 2px solid #ccc; */
  position: absolute;
  /* max-width: 500px;
  max-height: 500px; */
  max-width: 70vw;
  max-height: 70vh;
  cursor: pointer;
  will-change: transform, opacity;
  z-index: 10;
}

.album-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  background: #444;
  color: white;
  font-size: 3vh;
  line-height: 175%;
  padding: 20px;
  z-index: 5;
  max-width: 70vh;
  background-color: #444;
  /* max-height: 70vw; */
}

.brick {
  width: 100vw;
  height: 100vh;
  background-color: #B8AE80;
  /* background-image: url("data:image/svg+xml,%3Csvg width='120' height='124' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  z-index: 1;
}

.caption {
  position: fixed;
  /* left: 0px; */
  width: 100vw;
  /* height: 100%; */
  padding: 15px;
  font-size: 3vh;
  z-index: 40;
  text-align: left;
}

.caption.foot {
  left: 10px;
  bottom: 10px;
  /* margin: 10px; */
  width: calc(100vw - 20px);
  background: rgba(255, 250, 183, 0.75);
  color: black;
}

.caption.head {
  top: 0px;
  font-size: 3vw;
  background: rgba(0,0,0);
  color: white;

}

.slider-left {
  animation-name: slide-anim;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes slide-anim {
  from {
    /* from offscreen */
    transform: translateX(100vw);
  }
  to {
    /* opacity: 1; */
    transform: translateX(0px);
  }
}


.item-inset {
  position: relative;
  width: 80vw;
  z-index: 20;
  top: 50px;
  z-index: 30;
}

.center {
  text-align: center;
}

.full-image {
  position: absolute;
  top: 0px;
  height: 100vh;
  z-index: 5;
}


.clickable {
  border: 1px dashed red;
}

.clickable:hover {
  border: 1px dashed red;
  background-color: white;
}

.chest-mini {
  position: relative;
  top: 55vh;
  left: 62vh;
  height: 20vh;
  /* width: 20vh; */
  /* border: 2px solid red; */
  z-index: 20;
}