
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: scroll;
  /* border: 5px solid red; */
}

.center {
  text-align: center;
}

.full-image {
  position: absolute;
  top: 0px;
  height: 100vh;
  z-index: 5;
}

.caption {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  padding: 15px;
  font-size: 36px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.item-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgb(0.3, 0.2, 0.2);
  z-index: 1;
}

.note-mini {
  position: relative;
  top: 26vh;
  left: 24vh;
  height: 10vh;
  width: 10vh;
  padding: 10px;
  z-index: 20;
}

.clickable {
  border: 1px dashed red;
}

.clickable:hover {
  border: 1px dashed red;
  background-color: white;
}


.note-full {
  position: relative;
  width: 50vw;
  z-index: 20;
  top: 50px;
}

.chest-mini {
  position: relative;
  top: 55vh;
  left: 62vh;
  height: 20vh;
  /* width: 20vh; */
  /* border: 2px solid red; */
  z-index: 20;
}